/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.my-button{
	-fx-border-color: #000000;
    -fx-border-width: 10px;
    -fx-border-radius: 30.0px;
    -fx-text-fill: black;
    -fx-font-family: "Press Start 2P", sans-serif;
	-fx-background-color: #00CB6D;
    -fx-background-radius: 30px;
    -fx-font-size: 40px;
}

.my-registro{
	-fx-border-color: #000000;
    -fx-border-width: 4px;
    -fx-border-radius: 10.0px;
    -fx-text-fill: black;
    -fx-font-family: "Press Start 2P", sans-serif;
	-fx-background-color:white;
    -fx-background-radius: 15px;
    -fx-font-size: 18px;
}


.my-ecuacion{
	-fx-border-color: #000000;
    -fx-border-width: 6px;
    -fx-border-radius: 10.0px;
    -fx-text-fill: black;
    -fx-font-family: "Press Start 2P", sans-serif;
	-fx-background-color:#D479F4;
    -fx-background-radius: 15px;
    -fx-font-size: 50px;
}

.my-respuesta{
	-fx-border-color: #000000;
    -fx-border-width: 6px;
    -fx-border-radius: 16.0px;
    -fx-text-fill: black;
    -fx-font-family: "Press Start 2P", sans-serif;
	-fx-background-color:#4F92F6;
    -fx-background-radius: 20px;
    -fx-font-size: 35px;
}