/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.my-button{
	-fx-border-color: #000000;
    -fx-border-width: 10.0px;
    -fx-border-radius: 30.0px;
    -fx-text-fill: black;
    -fx-font-family: "Press Start 2P", sans-serif;
	-fx-background-color: #00CB6D;
    -fx-background-radius: 30.0px;
    -fx-font-size: 40.0px;
    -fx-effect: dropshadow(gaussian, rgba(0.0,0.0,0.0,0.4), 0.0, 0.0, 5.0, 5.0);
    
    /* Aspecto 3D */
    
    -fx-background-color: linear-gradient(to bottom, #00CB6D, #000000);
}